#!/bin/sh
/home/dockemu/src/dockemu/{{ nsVersion }}/{{ nsCodeFolder }}/waf -j {{ ns3Jobs }} --run "scratch/{{ ns3NetworkScript }} --NumNodes={{ numberOfClientNodes }} --TotalTime={{ emulationTime }} --TapBaseName=emu"
